.navigation-tabs {
  display: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

.main-content {
  padding: 0 40px;
}

h1 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 32px;
}

.offers-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer-card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer-card__badge {
  font-size: clamp(10px, 1.5vw, 16px);
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #01875f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 0 20px 0;
}

.offer-card__link {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.offer-card__image-wrapper {
  width: 30%;
}

.offer-card__image {
  /* position: absolute;
  top: -50%; */
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.offer-card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
}

.offer-card__discount {
  position: absolute;
  color: black;
  font-size: 16px;
  font-weight: 700;
  right: 2%;
  bottom: 5px;
}

.offer-card__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.offer-card__description {
  font-size: 15px;
}

.offer-card__expires {
  font-size: clamp(10px, 1.75vw, 16px);
  color: rgb(95, 99, 104);
  margin-top: 10px;
}
