/* --- theme.css --- */

/* Chế độ Sáng (Mặc định hoặc 'Mùa') */
body.light-theme {
    background-color: #FFFFFF;
    color: #222222;
}

/* Chế độ Tối */
body.dark-theme {
    background-color: #222222;
    color: #EEEEEE;
}

/* Hiệu ứng rơi (Lấy từ code trước) */
#particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
    overflow: hidden;
}

.falling-particle {
    position: absolute;
    top: -50px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    opacity: 0.8;
}